@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.InputWrapper{
    display: flex;
    flex-direction: row;
    gap:16px;

    justify-content: center;
    align-items: center;

    
    height: 48px;
    
    border-color: white;
    border-width: 2px;
    border-style: solid;
    
    input{
        width: 10vw;
    }

    img{
        height: 25px;
        width: 25px;
    }
}