.main{
    width:100vw;
    height: 93vh;
    background: linear-gradient( 90deg,#0081A7,#00AFB9);
    
    .wrapper {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        font-size: 70px;
        font-weight: bold;
        color:white;
    }
}