.main{
    width:100vw;
    height: 93vh;
    background: linear-gradient(90deg, #FED9B7, #F07167);

    .Wrapper {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        

        .InforWrapper{
            display: flex;
            flex-direction: row;

            .Infor{
                display: flex;
                flex-direction: column;
            }
        }
    }
}