.Wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;

    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;

    width: 22vw;
    
    padding-bottom: 20px;

    .title{
        font-size:4rem;
    }

    .InputWrapper{
        display: flex;
        flex-direction: column;
        gap:25px;


        border-radius: 15px;
        width: 17vw;

        
        .InputGroup{
            display: flex;
            flex-direction: column;
            gap:8px;


            width: 100%;

            #username{
                border-radius: 15px 15px 7px 7px;
                padding-right:37px;
            }
            #password{
                border-radius: 7px 7px 15px 15px;
            }

        }

        .LoginGroup{
            display: flex;
            flex-direction: row;
            gap:16px;

            button{
                height: 48px;
                border-radius: 15px;
                border-color: white;
                border-width:2px;
                border-style: solid;

                width:17vw;

                background: none;

                font-family: "Noto Sans KR", sans-serif;
                font-weight: bold;
                color:white;

                cursor: pointer;
            }
        }
    }
}